<h1>Pymaceuticals</h1>
</hr>
<h2>Overall Analysis</h2>
<ol><li>first thing</li>

In [8]:
#import dependencies

%matplotlib inline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
#import our two csv files
drug_path = os.path.join('mouse_drug_data.csv')
trial_path = os.path.join('clinicaltrial_data.csv')
drug_df = pd.read_csv(drug_path)
trial_df = pd.read_csv(trial_path)

In [79]:
#inspect the files
trial_df.dtypes
trial_df.count()
trial_df.head()
trial_df.Timepoint.unique()

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45], dtype=int64)

In [27]:
drug_df.dtypes
drug_df.count()
drug_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [34]:
#merge the two dataframes
df = pd.merge(trial_df, drug_df, how='inner')
df.count()
df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

<h3>Scatter Plot of tumor response to treatment</h3>

In [87]:
#Creat a scatter plot of tumor volume changing over time with each treatment
#we will need to group by treatment, and then take the mean of each tumor value per timepoint for each treatment and plot that.

drug_groups = df.groupby(['Drug', 'Timepoint'])
drug_groups_df = pd.DataFrame({'Tumor Volume': drug_groups['Tumor Volume (mm3)'].mean()})
drug_groups_df = drug_groups_df.sort_index()
drug_groups_df

                     Tumor Volume
Drug      Timepoint
Capomulin 0             45.000000
          5             44.266086
          10            43.084291
          15            42.064317
          20            40.716325
          25            39.939528
          30            38.769339
          35            37.816839
          40            36.958001
          45            36.236114
Ceftamin  0             45.000000
          5             46.503051
          10            48.285125
          15            50.094055
          20            52.157049
          25            54.287674
          30            56.769517
          35            58.827548
          40            61.467895
          45            64.132421
Infubinol 0             45.000000
          5             47.062001
          10            49.403909
          15            51.296397
          20            53.197691
          25            55.715252
          30            58.299397
          35            60.742461
          40            63.162824
          45            65.755562
...                           ...
Ramicane  0             45.000000
          5             43.944859
          10            42.531957
          15            41.495061
          20            40.238325
          25            38.974300
          30            38.703137
          35            37.451996
          40            36.574081
          45            34.955595
Stelasyn  0             45.000000
          5             47.527452
          10            49.463844
          15            51.529409
          20            54.067395
          25            56.166123
          30            59.826738
          35            62.440699
          40            65.356386
          45            68.438310
Zoniferol 0             45.000000
          5             46.851818
          10            48.689881
          15            50.779059
          20            53.170334
          25            55.432935
          30            57.713531
          35            60.089372
          40            62.916692
          45            65.960888

[100 rows x 1 columns]

In [94]:
#turn each drug group into a series to be able to plot. Timepoints should be the index to this dataframe
#Can we use .loc to grab only the results from a specific drug?

cap = drug_groups_df.loc['Capomulin', :]
cap

#get a list of all the drugs
#drugs = df.groupby('Drug')
#drug_list_df = pd.DataFrame({'Tumor Volume': drugs['Tumor Volume (mm3)'].mean()})
drugs = df.Drug.unique()
drug_list = sorted(drugs)
drug_list

['Capomulin',
 'Ceftamin',
 'Infubinol',
 'Ketapril',
 'Naftisol',
 'Placebo',
 'Propriva',
 'Ramicane',
 'Stelasyn',
 'Zoniferol']

In [123]:
cap = drug_groups_df.loc['Capomulin', :]
cap = pd.DataFrame(cap)
cap

           Tumor Volume
Timepoint
0             45.000000
5             44.266086
10            43.084291
15            42.064317
20            40.716325
25            39.939528
30            38.769339
35            37.816839
40            36.958001
45            36.236114

In [122]:
df_by_drug = pd.DataFrame(index=cap.index)
    
for drug in drug_list:
    df_by_drug[drug] = drug_groups_df.loc[drug, :]
    
df_by_drug.head()

,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [131]:
df_by_drug.plot.scatter
plt.show()