In [1]:
#initialize tools

import json
import os
import pandas as pd

In [2]:
# Read the json file and check that it looks ok
df = pd.read_json('purchase_data.json')

df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#check to make sure we're not missing data

df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [4]:
#TASK: print out the total player count

#NOTE: in each case for these things it looks like we're creating a new dataframe to examine (based on how to example file looks)
#also, we have to make sure to check for all the UNIQUE players

#Here I decided to use the .unique fucntion. This gives me an array of all the names. I turn this into an dataframe, then get the
#count of this dataframe and create a new dataframe to print the data in the requested format.

players = df['SN'].unique()
players_unique_df = pd.DataFrame(data=players)
players_df = pd.DataFrame({'Total Players': players_unique_df.count()})

#We could also print this info out using a pandas series. I kept the series code for my own use.
#players_s = pd.Series(players, index=['Total Players'])

players_df

   Total Players
0            573

In [5]:
#testing the .mean function

a_price = df['Price'].mean()
a_price = '${:,.2f}'.format(a_price)
a_price

'$2.93'

TASK: print out a purchasing analysis which is total # of unique items,
average price, number of purchases, and total revenue

In [6]:
#get the number of unique items, set this to a dataframe, and then get a count
#(I'm using a different method to check for uniques here as opposed to using the .unique function. To see if it works.)
#NOTE!! tested and does not work. Using this will set the index for the final output dataframe to 'Item Name'. I had to use
#the same method as for total price to get the final output index correct.

    #uniques_df = pd.DataFrame(df['Item Name'].value_counts())

    #uniques = uniques_df.count()

uniques = df['Item Name'].unique()
uniques_count_df = pd.DataFrame(data=uniques)
unique_total = uniques_count_df.count()

#set a variable for the price mean and convert to a dollar format

a_price = df['Price'].mean()
a_price = '${:,.2f}'.format(a_price)
a_price

#get the total number of purchases

total_p = df['Item Name'].count()

#get the total revenue

revenue = '${:,.2f}'.format(df['Price'].sum())

#create a dictionary containing the variables/lists we just developed

data_dict = {'Number of Unique Items': unique_total, 'Average Price': a_price, 'Number of Purchases': total_p, 
             'Total Revenue': revenue}

#create a dataframe from this dictionary

purchasing_analysis_df = pd.DataFrame(data=data_dict, columns=['Number of Unique Items', 'Average Price', 
                                                 'Number of Purchases', 'Total Revenue'])

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $2.93                  780     $2,286.33

In [7]:
#TASK: gender demographics. Percentage and Count of Male Players, Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#get the value counts for the 'Gender" column and then total.

genders = df['Gender'].value_counts()
genders_df = pd.DataFrame(data=genders)
genders_df

                       Gender
Male                      633
Female                    136
Other / Non-Disclosed      11

In [10]:
#calculate the percentage for each gender
genders_df['Percentage of Players'] = 100 * (genders_df['Gender']/genders_df['Gender'].sum()).round(4)

#rename column and reorder
genders_df = genders_df.rename(columns={'Gender': 'Total Count'})
genders_df = genders_df[['Percentage of Players', 'Total Count']]
genders_df

                       Percentage of Players  Total Count
Male                                   81.15          633
Female                                 17.44          136
Other / Non-Disclosed                   1.41           11