In [1]:
#initialize tools

import json
import os
import pandas as pd

In [33]:
# Read the json file and check that it looks ok
df = pd.read_json('purchase_data.json')

df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#check to make sure we're not missing data

df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [4]:
players = df['SN'].unique()
players_unique_df = pd.DataFrame(players)
players_unique_df.head()

              0
0     Aelalis34
1        Eolo46
2   Assastnya25
3  Pheusrical25
4        Aela59

In [5]:
#TASK: print out the total player count

#NOTE: in each case for these things it looks like we're creating a new dataframe to examine (based on how to example file looks)
#also, we have to make sure to check for all the UNIQUE players

#Here I decided to use the .unique fucntion. This gives me an array of all the names. I turn this into an dataframe, then get the
#count of this dataframe and create a new dataframe to print the data in the requested format.

players = df['SN'].unique()
players_unique_df = pd.DataFrame(data=players)
players_df = pd.DataFrame({'Total Players': players_unique_df.count()})

#We could also print this info out using a pandas series. I kept the series code for my own use.
#players_s = pd.Series(players, index=['Total Players'])

players_df

   Total Players
0            573

In [6]:
#testing the .mean function

a_price = df['Price'].mean()
a_price = '${:,.2f}'.format(a_price)
a_price

'$2.93'

TASK: print out a purchasing analysis which is total # of unique items,
average price, number of purchases, and total revenue

In [7]:
#get the number of unique items, set this to a dataframe, and then get a count
#(I'm using a different method to check for uniques here as opposed to using the .unique function. To see if it works.)
#NOTE!! tested and does not work. Using this will set the index for the final output dataframe to 'Item Name'. I had to use
#the same method as for total price to get the final output index correct.

    #uniques_df = pd.DataFrame(df['Item Name'].value_counts())

    #uniques = uniques_df.count()

uniques = df['Item Name'].unique()
uniques_count_df = pd.DataFrame(data=uniques)
unique_total = uniques_count_df.count()

#set a variable for the price mean and convert to a dollar format

a_price = df['Price'].mean()
a_price = '${:,.2f}'.format(a_price)
a_price

#get the total number of purchases

total_p = df['Item Name'].count()

#get the total revenue

revenue = '${:,.2f}'.format(df['Price'].sum())

#create a dictionary containing the variables/lists we just developed

data_dict = {'Number of Unique Items': unique_total, 'Average Price': a_price, 'Number of Purchases': total_p, 
             'Total Revenue': revenue}

#create a dataframe from this dictionary

purchasing_analysis_df = pd.DataFrame(data=data_dict, columns=['Number of Unique Items', 'Average Price', 
                                                 'Number of Purchases', 'Total Revenue'])

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $2.93                  780     $2,286.33

In [43]:
df_unique = df.drop_duplicates(subset='SN')
df_unique

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
30,21,Female,155,War-Forged Gold Deflector,3.73,Eulaeria40
...,...,...,...,...,...,...
729,16,Male,134,Undead Crusader,4.67,Iskichinya81
730,10,Female,148,"Warmonger, Gift of Suffering's End",3.96,Hiadanurin36
731,20,Female,106,Crying Steel Sickle,2.29,Tyaelly53
732,23,Female,37,"Shadow Strike, Glory of Ending Hope",1.93,Shidai42
733,16,Male,8,"Purgatory, Gem of Regret",3.91,Bartassaya73
734,13,Male,175,Woeful Adamantite Claymore,1.24,Mindosiasya28
736,19,Male,45,Glinting Glass Edge,2.46,Indirrian56
737,22,Male,101,Final Critic,4.62,Sondim68
739,35,Female,93,Apocalyptic Battlescythe,3.91,Cosadar58
741,24,Male,145,Fiery Glass Crusader,4.45,Leyirra83
742,26,Male,84,Arcane Gem,2.23,Inguron55
746,35,Male,34,Retribution Axe,4.14,Ralasti48
747,32,Male,52,Hatred,4.39,Lamon28
748,15,Male,120,Agatha,1.91,Isri49
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
764,25,Male,70,Hope's End,3.89,Assassasda84
766,22,Female,84,Arcane Gem,2.23,Nitherian58
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [51]:
#TASK: gender demographics. Percentage and Count of Male Players, Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

genders = df_unique['Gender'].value_counts()
genders_df = pd.DataFrame(data=genders)
genders_df

                       Gender
Male                      465
Female                    100
Other / Non-Disclosed       8

In [52]:
##!!!!!!REDO!!!! - NEED TO GET UNIQUE NAMES TO DO THIS

#calculate the percentage for each gender
genders_df['Percentage of Players'] = 100 * (genders_df['Gender']/genders_df['Gender'].sum()).round(4)

#rename column and reorder
genders_df = genders_df.rename(columns={'Gender': 'Total Count'})
genders_df = genders_df[['Percentage of Players', 'Total Count']]
genders_df

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

In [47]:
#NOTE: MUST REDO THIS CODE TO LOOK AT UNIQUES TO GET THE NORMALIZED TOTALS

gender_purchasing = df.groupby(['Gender'])
g_count = pd.DataFrame(gender_purchasing.count()['Item ID'])
g_average = pd.DataFrame(gender_purchasing.mean()['Price'])
g_total = pd.DataFrame(gender_purchasing.sum()['Price'])

#reset the indices to allow the merge to happen
g_count.reset_index(inplace=True)
g_average.reset_index(inplace=True)
g_total.reset_index(inplace=True)
g_total.columns = ['Gender', 'Total Purchase Value']

#merge the dataframes
p_analysis_df = pd.merge(g_count, g_average, on='Gender', how='outer')
p_analysis_df.columns = ['Gender', 'Purchase Count', 'Average Purchase Price']
p_analysis_df = pd.merge(p_analysis_df, g_total, on='Gender', how='outer')

#add the normalized totals to the dataframe

#!!NOTE: what I need to do here is to divide the purchases by the gender totals.
p_analysis_df['Normalized Totals'] = p_analysis_df['Total Purchase Value']/genders_df['Total Count']

#change the numeric values to dollar values

print(gender_purchasing.mean())

p_analysis_df

                             Age     Item ID     Price
Gender
Female                 22.558824   88.110294  2.815515
Male                   22.685624   91.571880  2.950521
Other / Non-Disclosed  27.363636  114.636364  3.249091

C:\Users\Aaron\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3033: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Female,136,2.815515,382.91,NaN
1,Male,633,2.950521,1867.68,NaN
2,Other / Non-Disclosed,11,3.249091,35.74,NaN